.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-image: url("../images/background.png");
    -fx-background-size: stretch;
}

.text-field {
    -fx-background-color: #e4e2e2;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: rgb(217, 145, 145);
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:rgb(209, 174, 174);
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:rgb(90, 38, 38);
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #70031f;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

